* {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin:0;
  padding: 0;
  /*overflow: hidden;*/
  /*background: linear-gradient(115deg, rgba(67,165,224,1) 0%, rgba(38,118,238,1) 0%, rgba(11,52,78,1) 100%);*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f67ab;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


/*.body {
  height: 100vh; 
  width:  100vw; 
  background: linear-gradient(115deg, rgba(67,165,224,1) 0%, rgba(38,118,238,1) 0%, rgba(11,52,78,1) 100%); 
  overflow: hidden;
}*/

/*.container {
  height: 390px;
  min-width: 45%;
  background-color: #191b28;
  margin: auto; 
  border-radius: 1em;
}*/

.calculator-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  background-color: #191b28;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  align-items: center;
}

.header {
  text-align: center;
  color: #dcdbe1;
  line-height: 45px;
  padding-bottom: 15px;
}

.header a, a:visited, a:hover, a:link, a:active {
  color: #dcdbe1;
  text-decoration: none;
  text-align: center;
}

/*.calc-container {
  padding: 10px;
  border-radius: 1em;
  width: fit-content;
  margin: auto;
  background-color: #191b28;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}*/

/*.calc-display {
  background-color: #dcdbe1;
  border: solid black 0.5px;
  color: black;
  border-radius: 5px;
  
  height: 10%;
  display: flex;
  margin : 0 auto;
  justify-content: flex-end;
  margin-bottom: 10px;
}*/


.buttons {
  /*max-width: 400px;
  display:flex;
  flex-wrap: wrap;
  display:grid;
  grid-template-columns: repeat(4,1fr);*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

input {
  font-size: 26px;
  text-indent: 10px;
  box-sizing: border-box;
  width: 100%;

  background-color: #dcdbe1;
  border: solid black 0.5px;
  color: black;
  border-radius: 5px;
  
  height: 50px;
  display: flex;
  margin : 0 auto;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.home-button {
  background-color: #377dbe;
  border-radius: 5px;
  width: 105px;
  height: 25px;
  color: white;
  border: solid rgb(255, 255, 255) 1px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.calc-button {
  /*background-color: #377dbe;*/
  /*color: black;
  border: solid black 1px;
  width: fit-content;

  border-radius: 5px;
  height: 70%;
  outline: none;
  font-size: 20px;
  flex: 1 25%;
  padding: 15px;
  margin-bottom: 3.5px;*/

  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
  width: 75px;
}

.btn-number {
  background-color:rgb(201, 201, 201);
}

.btn-operator {
  background-color:orange;
}

.btn-equals {
  background-color:rgb(35, 198, 76);
}

.btn-clear {
  background-color:crimson;
}


button:active {
  transform: translateY(4px);
}

.logo {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding-top: 2px;
  padding-left: 2px;
}